html,
body,
div,
p,
span,
i,
input,
ul,
ol,
li,
h3,
select,
option,
button,
table,
tbody,
tr,
td,
th{
  margin: 0;
  padding: 0;
}

input,
button,
table {
  border: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

select,
option {
  border-radius: 0;
}


